$color_grey_light: #f1f3f4;
$color_grey: #898989;
$color_grey_dark: #6d6e6e;
$color_grey_bg: #f8f8f8;
$color_accent: #ff6f00;
$color_accent_dark: #ef6800;
$color_text: #000;

$font_family: 'Open Sans', sans-serif;
$font_family_accent: 'BIP', sans-serif;

$width_max: 1170px;

$media_sm: 576px;
$media_md: 768px;
$media_lg: 992px;
$media_xl: 1200px;